/* MAIN STYLES */

:root{
--black: #000000;
--red: #c42021;
--gray: rgb(144, 149, 144);
--bone: #F9F6EE;
--blue: #0a369d;
--darkred: rgb(226, 59, 59);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color: white;
}

html, body, .container, .content{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    font-weight: 400;
    color: black;
}

#main-container{
    height: inherit;

}

body{
    background-color: var(--bone);
    max-width:2560px;
}

main, section, article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}



/* HEADER */

header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 90px;
    background-color: var(--black);
}

header .content.logo{
    flex: 0 0 auto;
    margin-left: 20px;
    width: auto;
    height: 100%;
    
}

header img{
    height:200px;
    aspect-ratio: 1/1;
    width: auto;
    max-height: 100%;
    padding-top: 10px;
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
}

a{
    text-decoration: none;
    font-weight: 500;
}

nav .button{
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    color: white;
    
}

nav .button:active{
    color: var(--red);
}
nav .button:hover{
    color: var(--red);
    transition-duration: 500ms;
}

.menu-toggle{
    display: none;
    justify-content: flex-end;
    font-size: 2rem;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    padding-right: 10px;
}

#mobile-menu{
    
    position: absolute;
    top:80px;
    right:20px;
    width: 200px;
    background: rgba(144, 149, 144, 0.9);
    border-radius: 10px;
    flex-direction: column;
    padding: 15px;
    z-index: 100;

    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    
}

#mobile-menu a {
    display:block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    text-align: center;
}

#mobile-menu a:hover{
    color: var(--red);
    transition-duration: 500ms;
}

.mobile-menu-open #mobile-menu{
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    
}

@media (max-width: 768px) {
    nav{
        display: none;
    }
    .menu-toggle{
        display: flex;
        width: 100%;
    }
}



/* HERO SECTION */

#hero-section .container.image{
    height: 900px;
    box-sizing: border-box;
    overflow: hidden;
}

#hero-section .content.image{
    height: 100%;
    justify-content: center;
    align-items: start;
}

#hero-section img{
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    min-height: 100%;
    object-fit: cover;
    object-position: top center;
    filter: brightness(40%);
    
}

#hero-section .container.overlay{
    position: absolute;
    top: 150px;
    left: auto;
    width: 600px;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 2;
    
}

#hero-section .content.overlay{
    position: relative;
    justify-content: flex-start;
    align-items: center;
    
}
#hero-section .content.overlay h1{
    font-size: 3.5rem;
    color:white;
    padding-bottom: 20px;
    
   
    
}
#hero-section .content.overlay p{
    font-size: 1.8rem;
    color:white;
   
    
}

.buzzwords{
    color: var(--darkred);
}

.schedule-button{
    background-color: var(--red);
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    
}


.schedule-button:hover{
    background-color: black;
    color: var(--red);
    border: 2px solid var(--red)
    
}


@media (max-width: 768px){
    #hero-section .container.image{
        height: 500px;
        box-sizing: border-box;
        overflow: hidden;
    }
}
@media (max-width: 430px){
    #hero-section .container.image{
        height: 300px;
        box-sizing: border-box;
        overflow: hidden;
    }
}

/* ABOUT SECTION */


#about-section{
    max-width:2560px;
    height:900px;
    background-color: white;
    
}

